@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Outfit:wght@300;400;600&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-color: var(--main-bg-color);
    color: white;
}
p {
    font-size: 18px;
}
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#card {
    background-color: var(--card-bg-color);
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    box-shadow: 0 40px 0 20px rgba(0, 0, 0, .1);
}
#card img {
    height: 340px;
    width: auto;
    border-radius: 10px;
}
#card h2 {
    margin-top: 20px;
    cursor: pointer;
    color: var(--cyan);
}
#card h2:hover {
    color: var(--soft-blue);
}
#card p {
    color: var(--soft-blue);
    line-height: 1.5;
    margin-top: 20px;
}
#card #img-div {
    position: relative;
    width: 100%;
}
#card #img-div #overlay {
    background-color: hsla(215, 51%, 70%, .6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4px;
    right: 0;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7em;
    transition: 0.2s ease-in;
    cursor: pointer;
}
#card #img-div #overlay:hover {
    opacity: 1;
}
#info {
    display: flex;
    justify-content: space-between;
}
#info p i {
    margin-right: 10px;
}
#card #author {
    border-top: 1px solid var(--line-color);
    padding-top: 15px;
    display: flex;
    align-items: center;
}
#card #author img {
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    width: auto;
    margin-right: 20px;
}
#card #author #pointer:hover {
    color: var(--soft-blue);
    cursor: pointer;
}
.highlight {
    color: var(--cyan);
}
.attribution { 
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}